<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cedarsolutions.cursed"
          android:versionCode="1" android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application android:allowBackup="true"
                 android:icon="@drawable/cch"
                 android:label="CursedCarHome"
                 android:theme="@style/AppTheme" >

        <activity android:name=".activity.CursedCarHomeMain" android:label="CursedCarHome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.DailyReportActivity" />

        <activity android:name=".activity.EditPreferencesActivity" />

        <receiver android:name=".intent.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <receiver android:name=".intent.DailyReportReceiver" />
        
        <receiver android:name=".intent.DatabasePurgeReceiver" />
        
        <receiver android:name=".intent.DockEventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOCK_EVENT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".intent.PhoneCallEventReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>        
        
        <service android:name=".service.DailyReportService"
                 android:process=":DailyReportProcess"
                 android:icon="@drawable/cch"
                 android:label="DailyReportService" />
        
        <service android:name=".service.DockEventService"
                 android:process=":DockEventProcess"
                 android:icon="@drawable/cch"
                 android:label="DockEventService" />

        <service android:name=".service.DatabasePurgeService"
                 android:process=":DatabasePurgeProcess"
                 android:icon="@drawable/cch"
                 android:label="DatabasePurgeService" />

    </application>

</manifest>
